# General
.DS_Store
node_modules

# Dev
.vscode
**/.vscode
.trash
.tmp
.dev

# Logs
*.log

# Enviromental files
.env
.env.local
.env.development
.env.production
**/*/.env.local
**/*/.env.development
**/*/.env.production

# Vite
dist
tsconfig.tsbuildinfo
**/vite.config.ts.timestamp-*

# Docker
docker-compose.local.yml

# Scripts
makefile