---
import SiteLayout from "../layouts/SiteLayout.astro";
import Section from "../components/Section.astro";

import { SITE_SECTIONS } from "../app/constants";

import HeroSection from "../sections/HeroSection.astro";
---

<SiteLayout>
	<HeroSection />
	{
		SITE_SECTIONS.map(
			({component: SectionComponent, ...section}) => (
				<Section {...section }>
					<SectionComponent {...section } />
				</Section>
			)
		)
	}
</SiteLayout>
