---
import SiteLayout from "../layouts/SiteLayout.astro";
import Section from "../components/Section.astro";
import '../assets/css/main.css';

import { sections, siteConfig } from "../app";
---

<SiteLayout
	site={{
		title: siteConfig.name,
	}}
	header={{
		logo: siteConfig.logo,
		items: sections.map(({ id, heading: label }) => ({ id, label })),
	}}
>
	{
		sections.map(({ component: SectionComponent, ...section }) => (
			<Section {...section}>
				<SectionComponent {...section} />
			</Section>
		))
	}
</SiteLayout>