---
import SiteLayout from "../layouts/SiteLayout.astro";
import Section from "../components/Section.astro";

import { SITE_SECTIONS, SITE_NAME, SITE_LOGO } from "../app/constants";
---

<SiteLayout
	site={{
		title: SITE_NAME,
	}}
	header={{
		logo: SITE_LOGO,
		items: SITE_SECTIONS.map(({ id, heading: label }) => ({ id, label })),
	}}
>
	{
		SITE_SECTIONS.map(({ component: SectionComponent, ...section }) => (
			<Section {...section}>
				<SectionComponent {...section} />
			</Section>
		))
	}
</SiteLayout>
