---
const footer = Astro.props;
---

<footer class="w-full flex flex-col h-20 text-white">
	<div class="bg-blue-700 py-8">
		<div class="container">
			<img
				width={256}
				height="auto"
				src="/images/img-cofunded-by.png"
				alt="Co-funded by the Erasmus+ Programme of the European Union"
			/>
		</div>
	</div>
	<div class="bg-blue-900 py-4">
		<div class="container flex flex-col gap-2 md:flex-row md:items-center md:justify-between">
			<small>© {new Date().getFullYear()} Erasmus+ KA2 - Let's teach each other</small>
			<small>Designed & Developed by <a class="font-semibold hover:underline" target="_blank" href="https://breakerino.me">Breakerino<span class="text-[#4EACFF]">.</span></a></small>
		</div>
	</div>
</footer>
