---
import "@splidejs/splide/css/core";
import CountryTabs from "../components/CountryTabs.astro";
import ProjectWeekView from "../components/ProjectWeekView.astro";

const section = Astro.props;
---
<script>
	import { initializeTabs } from '../lib/tabs.ts';
	document.addEventListener('DOMContentLoaded', () => initializeTabs());
</script>

<div class="flex flex-col gap-4">
	<CountryTabs items={section.data.items} />
	<div class="flex flex-col gap-8">
	{section.data.items.map((item) => (
		<ProjectWeekView {...item} />
	))}
	</div>
</div>
